/*General*/
body{
	width: 100%;
	height: 100%;
	margin: auto;
	overflow-x: hidden;
	letter-spacing: 1.5px;
	line-height: 1.5;
	background-color: #eaeaea; 
}
/* Scrollbar */
::-webkit-scrollbar,
::-moz-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track,
::-moz-scrollbar-track{
    background: #f6f6f6; 
}
::-webkit-scrollbar-thumb,
::-moz-scrollbar-thumb {
    background: #2d2d30;
}
::-webkit-scrollbar-thumb:hover,
::-moz-scrollbar-thumb:hover{
    background: #555; 
}
/* slider */
.slider{
	-webkit-appearance: none; 
	appearance: none;
	width: 70%;
	height: 3px;
	background: #8a8989;
	outline: none;
	opacity: 0.7;
	border-radius: 2px;
}
.slider:hover {
	opacity: 1;
	-webkit-transition: .2s ease;
	transition: opacity .2s ease;
}
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	border-radius: 8px;
	color: #2d2d30;
	background: #2d2d30;
	cursor: pointer;
}
.slider::-moz-range-thumb {
	width: 10px;
	height: 10px;
	border-radius: 8px;
	color: #2d2d30;
	background: #2d2d30;
	cursor: pointer;
}
.p-5{
	padding: 0px 5px !important;
}
.p-10{
	padding: 0px 10px !important;
}
.p-20{
	padding: 0px 20px !important;
}
.p-30{
	padding: 0px 30px !important;
}
.p-40{
	padding: 0px 40px !important;
}
.p-50{
	padding: 0px 50px !important;
}
.prompt{
	width: 250px;
	height: auto;
	z-index: 999;
	position: fixed;
	top: 100px;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	border-radius: 5px;
	padding: 15px;
	color: #2d2d30;
	background-color: #ffffff;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
	display: none;
}
.prompt p,
.prompt span{
	font-size: 14px;
	color: #2d2d30;
	display: inline;
}
.container{
	width: 78% !important;
	max-width: 78% !important;
	height: 100%;
	top: 70px;
	left: 18%;
	padding: 0 2% !important;
	position: absolute;
}
.container-fluid{	
	padding: 20px 40px;
}
.to-top{
	width: 35px;
	height: 35px;
	background-color: #2d2d30;
	border-radius: 5px; 
	position: fixed;
	float: right;
	bottom: 20px;
	right: 20px;
	text-align: center;
	opacity: 0.7;
}
.to-top a{
	width: 100%;
	height: 100%;
	text-align: center;
}
.to-top:hover{
	opacity: 1;
	transition: opacity .3s ease;
}
.to-top a>span{
	font-size: 20px;
	text-decoration: none;
	color: #ffffff !important;
	margin-top: 8px;
}
.ratingbar{
	text-align: center;
	margin: 10px;
}
.ratingbar span{
	color: #2d2d30;
	font-size: 15px;
}
.star-checked{
	color: #FE9D0C !important;
}
h1,
h2{
	color: #2d2d30;
	font-size: 20px;
	text-align: center;
	margin: 0;
	font-family: 'Abril Fatface', cursive;
}
input,
a,
p,
button, 
h3,
h4{
	display: block;
	color: #2d2d30;
	font-size: 14px;
	font-family: 'Nunito', sans-serif;
	outline: none;
	margin: 0;
}
p,
span,
label,
input{
	margin: 0;
	font-size: 13.5px;
	font-family: 'Poppins', sans-serif;
}
a:hover{
	color: #2d1dc0;
	text-decoration: none;
	transition: color .5s ease;
}
a:hover,
span:hover,
button:hover{
	cursor: pointer;
}
.btn-pr{
	width: 60%;
	height: auto;
	border: 0;
	color: #ffffff;
	border-radius: 5px;
	background-color: #1f1e2e;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	opacity: 0.9;
}
.btn-pr:hover{
	opacity: 1;
	transition: all .5s ease;
}
input[type="radio"]{
	display: inline;
	background: #000;
}
.row{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
 	align-items: flex-start;
 	align-content: flex-start;
	justify-content: flex-start;
	position: relative;
}
.flex-bg-80{
	flex: 79%;
	max-width: 79%;
		margin-top: 5px;
		margin-left: .5%;
		margin-right: .5%;
		flex-grow: 0;
}
.flex-bg-75{
	flex: 74%;
	max-width: 74%;
	margin-top: 5px;
	margin-left: .5%;
	margin-right: .5%;
	flex-grow: 0;
}
.flex-bg-70{
	flex: 69%;
	max-width: 69%;
	margin-top: 5px;
	margin-left: .5%;
	margin-right: .5%;
	flex-grow: 0;
}
.flex-bg-65{
	flex: 64%;
	max-width: 64%;
	margin-top: 5px;
	margin-left: .5%;
	margin-right: .5%;
	flex-grow: 0;
}
.flex-bg-50{
	flex: 49%;
	max-width: 49%;
	margin-top: 5px;
	margin-left: .5%;
	margin-right: .5%;
	flex-grow: 0;
}
.flex-bg-35{
	flex: 34%;
	max-width: 34%;
	margin-top: 5px;
	margin-left: .5%;
	margin-right: .5%;
	flex-grow: 0;
}
.flex-bg-33{
	flex: 32%;
	max-width: 32%;
	margin-top: 5px;
	margin-left: .5%;
	margin-right: .5%;
	flex-grow: 0;
}
.flex-bg-30{
	flex: 29%;
	max-width: 29%;
	margin-top: 5px;
	margin-left: .5%;
	margin-right: .5%;
	flex-grow: 0;
}
.flex-bg-25{
	flex: 24%;
	max-width: 24%;
	margin-top: 5px;
	margin-left: .5%;
	margin-right: .5%;
	flex-grow: 0;
}
.flex-bg-20{
	flex: 19%;
	max-width: 19%;
	margin-top: 5px;
	margin-left: .5%;
	margin-right: .5%;
	flex-grow: 0;
}
.flex-bg-15{
	flex: 15.5%;
	max-width: 15%;
	margin-top: 5px;
	margin-left: .5%;
	margin-right: .5%;
	flex-grow: 0;
}
@media screen and (max-width: 900px){
	.container{
		width: 95% !important;
		max-width: 95% !important;
		left: 0 !important;
	}
	.flex-md-100{
		flex: 99%;
		max-width: 99%;
		margin-top: 5px;
		margin-left: .5%;
		margin-right: .5%;
		flex-grow: 0;
	}
	.flex-md-50{
		flex: 49%;
		max-width: 49%;
		margin-top: 5px;
		margin-left: .5%;
		margin-right: .5%;
		flex-grow: 0;
	}
	.flex-md-30{
		flex: 32%;
		max-width: 32%;
		margin-top: 5px;
		margin-left: .5%;
		margin-right: .5%;
		flex-grow: 0;
	}
	.flex-md-20{
		flex: 19%;
		max-width: 19%;
		margin-top: 5px;
		margin-left: .5%;
		margin-right: .5%;
		flex-grow: 0;
	}
}
@media screen and (max-width: 768px){
	.flex-sm-100{
		flex: 99%;
		max-width: 99%;
		margin-top: 5px;
		margin-left: .5%;
		margin-right: .5%;
		flex-grow: 0;
	}
	.flex-sm-50{
		flex: 49%;
		max-width: 49%;
		margin-top: 5px;
		margin-left: .5%;
		margin-right: .5%;
		flex-grow: 0;
	}
	.flex-sm-30{
		flex: 29%;
		max-width: 29%;
		margin-top: 5px;
		margin-left: .5%;
		margin-right: .5%;
		flex-grow: 0;
	}
}
@media screen and (max-width: 500px){
	.flex-xs-50{
		flex: 49%;
		max-width: 49%;
		margin-top: 5px;
		margin-left: .5%;
		margin-right: .5%;
		flex-grow: 0;
	}
}